/* **************************************************************** */
/* head */
body {
	background-attachment: fixed;
	background-color: #1A1A1A;
	background-image: url("../images/body-bg.jpg");
	background-repeat: repeat;
	background-position: left top;
}

* {
	color: #C4C4C4;
	font-family: verdana, arial, sans-serif;
	font-size:small;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #E6E6FA;
	cursor: pointer;
}
ul, li {
	text-decoration: none;
	list-style-type: none;
}
img, video {
	border-radius: 5px;
}

button, input img {
	cursor: pointer;
}
.advice {
	background-color: rgba(255, 255, 155, 0.8);
	color: #1A1A1A;
	border-radius:5px;
	padding: 22px;
	text-align: center;
}

.warning {
	color: #ff0000;
	text-align: center;
}
.download {
		color: #E5E5E5;
		padding: 4px;
		margin: 3px;
}
.download a {
		border-radius: 11px;
		border: none;
		border-top: 2px solid #E5E5E5;
		border-bottom: 1px solid #1A1A1A;
		background-color: rgba(255, 0, 0, 0.2);
		padding: 8px;
		margin: 3px;
        float:right;
}

/* **************************************************************** */

/* **************************************************************** */
/* header */
.preload{
	display: none;
}

header {
	background: rgba(33, 33, 33, 0.9);
	box-shadow: 0px 0px 4px 0px  rgba(215, 215, 215, 1.5);
	height: 40px;
	width: 100%;
	top: 0;
	position: fixed;
	z-index: 20;
}
.panel{

	margin-left:auto;
	margin-right:auto;
}
.panelLeft{
	float:left;
	width:75%;
}
.panelRight{
	float:right;
	width:25%;
}
.panel table {
	border-collapse: collapse;
}
	.typeIndex {
		width: 80px;
		float: left;
		margin-top: 15px;
		text-align: center;
		cursor: s-resize;
	}
	.menuBar {
		width: 210px;
		float: left;
		margin-top: 10px;
	}
	.searchBar {
		width: 280px;
		float: left;
		margin-top: 10px;
	}
	.settingBar {
		width: 105px;
		float: right;
		margin-top: 10px;
		margin-right: 6px;
	}

	header td {
		width: 70px;
	}

	.searchTerm {
		width: 210px;
		height: 28px;
		background: #1A1A1A;
		border-top-right-radius: 0;
		margin-left: -6px;
		padding-left: 6px;
	}

	header button, header input, .lens .set button{
		box-shadow: 0 1px 2px rgba(0,0,0,0.3);
		text-shadow: 0 -1px 2px rgba(0,0,0,0.3);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#000000));
		background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0));
		color: #E5E5E5;
		border: none;
		border-top: 1px solid #4D4D4D;
		border-bottom: 2px solid #4D4D4D;
		border-top-left-radius: 11px;
		border-top-right-radius: 11px;
		height: 32px;
	}
	header button, header input {
		width: 99%;
	}
	header button {
		background-color: rgba(215, 215, 215, 0.5);
	}

	header input.term {

	}

	header button.enter {
		border-top-left-radius: 0;
		width: 50px;
	}

	header button img {
		width: 22px;
	}

	header button.active, header button:hover {
		background-color: rgba(215, 215, 215, 0.2);
	}
/* **************************************************************** */
/* some menus: new / edit / part / cloud */

.navigationIndex {
	z-index: 10;
	width:100%;
	position: fixed;
}
	.partIndex {
		width: 68px;
		text-align: center;
		border-bottom: 2px solid #4D4D4D;
		border-left: 2px solid #4D4D4D;
		border-bottom-left-radius: 11px;
		background-color: #000000;
	}

	.partIndex, .titleIndex, .contentIndex, .contentIndexPlus, .contentSettings {
		padding: 6px;
		overflow: auto;
		margin-top: 40px;
	}
	.partIndex, .titleIndex, .contentIndex, .contentIndexPlus {
		float: left;
	}
	.contentSettings {
		float: right;
	}

	.titleIndex, .contentIndex {
		border-bottom-left-radius: 11px;
		border-bottom-right-radius: 11px;
		border: none;
		box-shadow: 0px 0px 4px 0px rgba(215, 215, 215, 1.5);
		width: 460px;
	}
	
	.contentIndexPlus, .contentSettings {
		border-bottom-left-radius: 11px;
		border-bottom-right-radius: 11px;
		border: none;
		box-shadow: 0px 0px 4px 0px rgba(215, 215, 215, 1.5);
		width: 300px;
	}
	.titleIndex {
		background: rgba(33, 33, 33, 0.9);
		height: 22px;
	}
		.titleIndex .left{
			float:left;
		}

		.titleIndex .right{
			float:right;
		}


	.contentIndex, .contentIndexPlus, .contentSettings {
		display: none;
		background-color: #434343;
	}
	
	.contentIndexPlus li img {
		width: 22px;
		height: 22px;
	}

	.newNote, .newSource, .completeSource, .partNote, .partSource, .cloudTags, .cloudAuthors, .settings, .editNote, .editSource {
		display: none;
	}

	.partNote, .partSource, .settings {
		height: 40%;
	}
	.newNote, .newSource, .cloudTags, .cloudAuthors, .editNote, .editSource {
		height: 80%;
	}

/* **************************************************************** */
/* form */
	.form td {
		vertical-align: top;
		padding: 12px;
	}
	.form td.left {
		border-right: 1px solid #BFBFBF;
	}
	.form td.bottom {
		text-align: right;
	}

	.form input, .form textarea, .form select, .form button:hover, .login input, .login button:hover{
		border-radius: 11px;
		border: none;
		border-top: 2px solid #1A1A1A;
		border-bottom: 1px solid #E5E5E5;
		background-color: rgba(229, 229, 229, 0.2);
		color: #E5E5E5;
		padding: 4px;
		margin: 3px;
	}

	.form button, .login button {
		border-radius: 11px;
		border: none;
		border-top: 2px solid #E5E5E5;
		border-bottom: 1px solid #1A1A1A;
		background-color: rgba(229, 229, 229, 0.2);
		color: #E5E5E5;
		padding: 4px;
		margin: 3px;
		width: 144px;
		height: 40px;
	}

	.form input, .form select {
		height: 28px;
		width: 300px;
	}
	.form textarea {
		height: 170px;
		width: 300px;
	}
	.form input.small, .form select {
		width: 140px;
	}

	.form .choosenMedia {
		clear:both;
	}
	.form .choosenMedia img {
		max-height: 140px;
		max-width: 300px;
		display:block;
		margin-left: auto;
		margin-right: auto;
	}

	.form .dropFile {
		float: left;
	}
	.form .dropFile input.client {
		width: 144px;
	}
	.form .dropFile button.client {
		width: 72px;
		padding: 3px;
		z-index: 10;
		position:absolute;
	}

	.form .dropFile input.uploadFile {
		-moz-opacity:0;
		filter:alpha(opacity: 0);
		opacity: 0;
		z-index: 20;
		margin-top: 8px;
		position:absolute;
	}

	.form button.server {
		width: 72px;
		padding: 3px;
		z-index: 10;
		float: right;
	}

/* **************************************************************** */

/* **************************************************************** */
/* mainview */
.lens {
	display: none;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(26, 26, 26, 0.8);
	position: fixed;
	z-index: 30;
}

	.lens .note {
		background: rgba(215, 215, 215, 0.3);
		box-shadow:0px 0px 4px 0px rgba(215, 215, 215, 1.5);
		border-radius:5px;
		border:1px groove #564F4F;
		width: 600px;
		height: 80%;
		z-index: -20;
		padding: 4px;
		margin-left: auto;
		margin-right: auto;
	}
	.lens img, .lens video {
		display:block;
		border-radius: 5px;
		margin-left: auto;
		margin-right: auto;
		overflow: auto;
	}

	.lens .set {
		display:block;
		margin-left:auto;
		margin-right:auto;
	}

	.lens .login {
		display: block;
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		background: rgba(215, 215, 215, 0.3);
		box-shadow:0px 0px 4px 0px rgba(215, 215, 215, 1.5);
		border-radius:5px;
	}
	.lens .login form {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		text-align:center;
		padding: 12px;
	}

.viewer {
	padding: 111px 33px 66px 33px;
	clear: both;
}

.note .cache {
	display: none;
}
.note h3 {
	float: left;
}
.note textarea{
	overflow: hidden;
	background: none;
	border: none;
	width: 100%;
}

.note .set{
	opacity: 0.1;
}
.note .set button{
	float:right;
	color: #1A1A1A;
}
p.linkText, p.linkText a {
	font-size: x-small;
}
a.public{
	float:right;
	background: rgba(0, 255, 0, 0.2);
	border-radius:50%;
	border:1px groove #564F4F;
	padding: 0 4px 1px 4px;
	font-size:x-small;
}
a.nonpublic{
	float:right;
	background: rgba(255, 0, 0, 0.2);
	border-radius:50%;
	border:1px groove #564F4F;
	padding: 0 4px 1px 4px;
	font-size:x-small;
}

.note p, .note img, .note video {
	clear: both;
}
.note h3, .note p.content, p.linkText {
	padding: 6px;
}

.desk {
	-moz-column-width:330px;
	-moz-column-count: 3;
	-moz-column-gap: 2px;
	-moz-column-fill: 3;
	-webkit-column-width:330px;
	-webkit-column-count: 3;
	-webkit-column-gap: 2px;
	-webkit-column-fill: 3;
	column-width:330px;
	column-count: 3;
	column-gap: 2px;
	column-fill: 3;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

	.desk .note {
		background: rgba(215, 215, 215, 0.3);
		box-shadow:0px 0px 4px 0px rgba(215, 215, 215, 1.5);
		border-radius:5px;
		width: 318px;
		z-index: -20;
		margin: 6px;
		padding: 0px;
		-moz-column-break-inside: avoid;
		-webkit-column-break-inside: avoid;
		column-break-inside: avoid;
		display: inline-block;
	}

	.desk .note img, .desk .note video {
		width:318px;
		/*max-height:330px;*/
		display:block;
		margin-left: auto;
		margin-right: auto;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom: 1px solid #333333;
		cursor: pointer;
	}


.paper {
	background: rgba(215, 215, 215, 0.3);
	box-shadow:0px 0px 4px 0px rgba(215, 215, 215, 1.5);
	border:1px groove #564F4F;
	width: 1050px;
	min-height: 1480px;
	margin-left: auto;
	margin-right: auto;
}

	.paper .note {
		border-bottom: 1px solid grey;
		margin: 11px auto 11px auto;
		page-break-inside:avoid;
		width: 850px;
		z-index: -20;
		padding-left: 100px;
		padding-right: 100px;
		-moz-column-break-inside: avoid;
		-webkit-column-break-inside: avoid;
		column-break-inside: avoid;
		display: inline-block;
	}

	.paper .note img, .paper .note video {
		max-width:300px;
		max-height:300px;
		float:right;
		page-break-after:avoid;
		margin: 0 0 15px 15px;
	}


	.paper .note .linkText {
		clear: right;
		margin-bottom:8px;
	}

/* **************************************************************** */

/* **************************************************************** */
/* cloud */
a.tiny{
	font-size:0.9em;
}
a.small{
	font-size:1.2em;
}
a.medium{
	font-size:1.5em;
}
a.large{
	font-size:1.8em;
}
a.extralarge{
	font-size:2.1em;
}
/* **************************************************************** */

/* **************************************************************** */
/* footer */
footer {
	background:rgba(26, 26, 26, 0.8);
	box-shadow: 0 -3px 2px -2px #E5E5E5;
	text-align: center;
	font-size: x-small;
	height: 22px;
	width: 100%;
	bottom: 0;
	position: fixed;
	z-index:20;
}
/* **************************************************************** */
