/* ===========================================================================
 *
 * @button: less stylesheet for default buttons and icons style in kremo
 *
 * @author André Kilchenmann kremo@milchkannen.ch
 *
 * @copyright 2013 by André Kilchenmann (milchkannen.ch)
 *
 * @requires
 *  LESS (stylesheet language - http://lesscss.org/ - min-version 1.4.1
 *
 * ===========================================================================
 * ======================================================================== */

* {
  color: @ink;
}

input, select, button, textarea .card {
  color: @ink;
  background-color: lighten(@bg, 98%);
  border-top: 1px solid lighten(@bg, 8%);
  border-left: 1px solid lighten(@bg, 8%);
  border-right: 1px solid darken(@bg, 8%);
  border-bottom: 1px solid darken(@bg, 8%);
}

// buttons are defined as input button type with the following three classes // (element + position + action) // element: .btn // position: .grp_left || .grp_middle || .grp_right || grp_none // action: .toggle_drawer (as example)
.btn {
  width: 40px;
  height: 32px;
//  background-color: @bg;
  background-color: transparent;
  background-image: url(../../lib/icons/btn_icons.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  border: 0px solid transparent;
  cursor: pointer;
  &:hover {
	//background-color: darken(@bg, 20%);
	background-color: transparent;
	border: 0px solid transparent;
  }
}
.grp_left, .grp_middle, .grp_right {
  float: left;
}
.grp_left {
  .border-radius-custom(@rad, 0, 0, @rad);
}
.grp_middle {
  .border-radius(0);
}
.grp_right {
  .border-radius-custom(0, @rad, @rad, 0);
}
.grp_none {
  .border-radius(@rad);
  margin-left: 3px;
  margin-right: 3px;
}

button.toggle_labels, button.toggle_edit, button.toggle_cite, button.toggle_expand, button.toggle_collapse, button.fake_btn {
  background-color: transparent;
  border: none;
//  background-color: lighten(@bg, 8%);
  &:hover {
	background-color: transparent;
	border: 0px solid transparent;
  }
}
button.fake_btn {
  cursor: default;
}

/* ------------ */
/* button icons */
/* ------------ */
button.toggle_drawer {
  background-position: -40px -30px;
  &:hover {
	background-position: 0px -30px;
  }
}
button.toggle_power {
  background-position: -40px -60px;
  &:hover {
	background-position: 0px -60px;
  }
}
button.search_btn {
  background-position: -40px -90px;
  &:hover {
	background-position: 0px -90px;
  }
}
button.search_filter {
  background-position: -40px -120px;
  &:hover {
	background-position: 0px -120px;
  }
}
button.toggle_add {
  background-position: -40px -150px;
  &:hover {
	background-position: 0px -150px;
  }
}
button.toggle_delete {
  background-position: -40px -180px;
  &:hover {
	background-position: 0px -180px;
  }
}
button.toggle_link {
  background-position: -40px -210px;
  &:hover {
	background-position: 0px -210px;
  }
}
button.toggle_unlink {
  background-position: -40px -240px;
  &:hover {
	background-position: 0px -240px;
  }
}
button.toggle_user, label.user {
  background-position: -40px -270px;
  &:hover {
	background-position: 0px -270px;
  }
}
button.toggle_grp {
  background-position: -40px -300px;
  &:hover {
	background-position: 0px -300px;
  }
}
button.toggle_label, label.label {
  background-position: -40px -330px;
  &:hover {
	background-position: 0px -330px;
  }
}
button.toggle_labels, label.labels {
  background-position: -40px -360px;
  &:hover {
	background-position: 0px -360px;
  }
}
button.view_desk {
  background-position: -40px -390px;
  &:hover {
	background-position: 0px -390px;
  }
}
button.view_list {
  background-position: -40px -420px;
  &:hover {
	background-position: 0px -420px;
  }
}
button.view_table {
  background-position: -40px -450px;
  &:hover {
	background-position: 0px -450px;
  }
}
button.toggle_cite {
  background-position: -40px -480px;
  &:hover {
	background-position: 0px -480px;
  }
}
button.toggle_comment {
  background-position: -40px -510px;
  &:hover {
	background-position: 0px -510px;
  }
}
button.toggle_expand {
  background-position: -40px -540px;
  &:hover {
	background-position: 0px -540px;
  }
}
button.toggle_collapse {
  background-position: -40px -570px;
  &:hover {
	background-position: 0px -570px;
  }
}
button.toggle_notes {
  background-position: -40px -600px;
  &:hover {
	background-position: 0px -600px;
  }
}
button.toggle_edit {
  background-position: -40px -630px;
  &:hover {
	background-position: 0px -630px;
  }
}
button.toggle_tools {
  background-position: -40px -660px;
  &:hover {
	background-position: 0px -660px;
  }
}
button.warning, label.warning {
  background-position: -40px -690px;
  &:hover {
	background-position: 0px -690px;
  }
}
button.alert, label.alert {
  background-position: -40px -720px;
  &:hover {
	background-position: 0px -720px;
  }
}
button.toggle_lock {
  background-position: -40px -750px;
  &:hover {
	background-position: 0px -750px;
  }
}

/* button end */
/* ------------------------------------------------------------------------- */

/* form start */

form p {

}

input, textarea, select {

}

input[type=text], input[type=password], input[type=email], input[type=date]  {
  .border-radius(@rad);
  border: 1px solid rgba(0, 0, 0, 0);
  font-size: 13px;
  padding: 8px;
  width: 228px;
  float: right;
  margin: 5px;
}

input.field_obj.small {
  width: 100px;
}
input.field_obj.medium {
  width: 228px;
}
input.field_obj.large {
  width: 484px;
}

input[type=submit], input[type=reset] {
  .border-radius(@rad);
  border: 1px solid rgba(0, 0, 0, 0);
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 0 -1px 0 #050505;
  padding: 8px;
  width: 100px;
  float: right;
  margin: 5px;

  color: #FFFFFF;
  cursor: pointer;
}
input[type=submit].submit {
  background-color: @pos;
  &:hover {
	background-color: lighten(@pos, 11%);
  }
}

input[type=reset].reset, input[type=submit].reset {
  background-color: @neg;
  &:hover {
	background-color: lighten(@neg, 11%);
  }
}





fieldset {
  border-top: 1px solid @btn;
  border-left: none;
  border-right: none;
  border-bottom: none;
  background: @bg;

   .border-radius(@rad);
  legend {
	color: @btn;
	padding: 4px;
	background: @bg;
	.border-radius(@rad);
  }
}

label {

}




input.input, select.select {
  height: 30px;
  padding-left: 3px;
  width: 150px;
  font-size: 13px;
}

select.select {
  overflow: hidden;
  background-image: url('icons/btn_icons.png');
  background-position: -50px -90px;
}

span.searchbar {

}

.nolabel {
  display: block;
  clear: both;
  width: 200px;

}

span.formfield {
  background-color: @bg;
  padding: 2px;


  label {
	margin: 2px;
	background-color: @bg;
  }

  input, button {
	border: none;
	border-left: 1px solid lighten(@btn, 8%);
//	background-color: lighten(@bg, 50%);
	padding-left: 2px;
	margin-left: 4px;
  }
}

