/* ===========================================================================
 *
 * @button: less stylesheet for default buttons and icons style in kremo
 *
 * @author André Kilchenmann kremo@milchkannen.ch
 *
 * @copyright 2013 by André Kilchenmann (milchkannen.ch)
 *
 * @requires
 *  LESS (stylesheet language - http://lesscss.org/ - min-version 1.4.1
 *
 * ===========================================================================
 * ======================================================================== */

* {
  color: @ink;
}

input, select, textarea .card {
  color: @ink;
  background-color: lighten(@bg, 98%);
}

// buttons are defined as input button type with the following three classes // (element + position + action) // element: .btn // position: .grp_left || .grp_middle || .grp_right || grp_none // action: .toggle_drawer (as example)
.btn {
  width: 40px;
  height: 30px;
  background-color: @bg;
  background-image: url(../../lib/icons/btn_icons.png);
  background-position: 0px 0px;
  cursor: pointer;
  &:hover {
	background-color: darken(@bg, 20%);
  }
}
.grp_left, .grp_middle, .grp_right {
  float: left;
}
.grp_left {
  .border-radius-custom(@rad, 0, 0, @rad);
}
.grp_middle {
  .border-radius(0);
}
.grp_right {
  .border-radius-custom(0, @rad, @rad, 0);
}
.grp_none {
  .border-radius(@rad);
  margin-left: 3px;
  margin-right: 3px;
}







fieldset {
  border-top: 1px solid @btn;
  border-left: none;
  border-right: none;
  border-bottom: none;
  background: @bg;

   .border-radius(@rad);
  legend {
	color: @btn;
	padding: 4px;
	background: @bg;
	.border-radius(@rad);
  }
}

label {

}

input, select, textarea, button {
  border-top: 1px solid lighten(@bg, 8%);
  border-left: 1px solid lighten(@bg, 8%);
  border-right: 1px solid darken(@bg, 8%);
  border-bottom: 1px solid darken(@bg, 8%);
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

input[placeholder] {
  font-size: 1em;
  color: darken(@ink, 25%);
}

input.input, select.select {
  height: 28px;
  padding-left: 3px;
  width: 150px;
  font-size: 13px;
}

select.select {
  overflow: hidden;
  background-image: url('icons/btn_icons.png');
  background-position: -50px -90px;
}

span.searchbar {

}

.nolabel {
  display: block;
  clear: both;
  width: 200px;

}

span.formfield {
  background-color: @bg;
  padding: 2px;


  label {
	margin: 2px;
	background-color: @bg;
  }

  input, button {
	border: none;
	border-left: 1px solid lighten(@btn, 8%);
	background-color: lighten(@bg, 50%);
	padding-left: 2px;
	margin-left: 4px;
  }
}

button.toggle_drawer {
  background-position: -50px -30px;
  &:hover {
	background-position: 0px -30px;
  }
}
button.toggle_add {
  background-position: -50px -120px;
  &:hover {
	background-position: 0px -120px;
  }
}
button.toggle_user, label.user {
  background-position: -50px -270px;
  &:hover {
	background-position: 0px -270px;
  }
}
button.search_filter {
  background-position: -50px -90px;
  &:hover {
	background-position: -0px -90px;
  }
}
button.search_btn {
  background-position: -50px -60px;
  &:hover {
	background-position: 0px -60px;
  }
}
button.toggle_favorite {
  background-position: -50px -510px;
  &:hover {
	background-position: 0px -510px;
  }
}
button.toggle_window {
  background-position: -50px -480px;
  &:hover {
	background-position: 0px -480px;
  }
}
button.toggle_socialnet {
  background-position: -50px -450px;
  &:hover {
	background-position: 0px -450px;
  }
}
button.toggle_news {
  background-position: -50px -540px;
  &:hover {
	background-position: 0px -540px;
  }
}
label.pass {
  background-position: -50px -570px;
  &:hover {
	background-position: 0px -570px;
  }
}