* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  letter-spacing: 0.2em;
  line-height: 1.2em;
  font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0;
  overflow:hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: stylus, Verdana, sans-serif;
}
h1, h2, h3, h4, h5, h6, p, span {
  color: #131224;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}
p {
  font-size: 16px;
}

p.small {
  font-size: 12px;
}
/*-webkit-font-smoothing: antialiased; }*/

a {
  font-weight: bolder;
  text-decoration: none;
  /*padding-bottom: -1px !important;*/
  color: #261A13
}

a:hover {
  color: #6b4834;
}

h1 {
  display: none;
}
h2 {
  font-size: 14pt;
  font-weight: bold;
}
h3 {
  font-size: 12pt;
  font-weight: bold;
}
h4 {

}

header, footer, nav {
  position: fixed;
  display: block;
}

header, footer {
  width: 100%;
  text-align: center;
  z-index: 33;
}

header {
  top: 0;
  height: 44px;
}

header div {
  width: 30%;
  height: 30px;
  margin: 7px;
}

header div span h2 {
  height: 30px;
  margin-top: 7px;
}


header div.left {
  float: left;
  text-align: left;
  margin-left: 22px;
}

header div.center {
  float: left;
}

header div.right {
  float: right;
  text-align: right;
  margin-right: 22px;
}

header div.center span.search {
  left: 50%;
  margin-left: -130px;
  margin-right: auto;
  position: absolute;
  display: table-cell;
}

nav {
  width: 240px;
  height: 100%;
  top: 66px;
  z-index: 22;
}

footer {
  bottom: 0;
  position: fixed;
  overflow: visible;
}

footer p {
  display: block;
  padding: 1px;
}

footer img {

  position:absolute;
  bottom:2px;
  right: 12px;
  width: 24px;
}


section, .section {
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-image: url(../img/bg-black.jpg);
  background: no-repeat;
  background-position: center center;
  background-size: cover;

}

.slide {
  float: left;
}
.slide, .slidesContainer {
  height: 100%;
  display: block;
}
.slides {
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.section.table, .slide.table {
  display: table;
  width: 100%;
}
.tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.slidesContainer {
  float: left;
  position: relative;
}
.controlArrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
}
.controlArrow.prev {
  left: 5px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent;
}
.controlArrow.next {
  right: 5px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff;
}
.scrollable {
  overflow: scroll;
}
.easing {
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}


/*

@media (max-width: 767px) {
  div.title { position: fixed; width: auto; padding: 0px; margin: 0 !important; left: 20px}
  .about { position: relative; width: auto; padding: 20px; margin: 0 !important; top: 50px;}
  .backstretch { opacity: 0.2; }
}

*/

.float_obj {
  z-index: 100;
  display: none;
  padding: 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 256px;
  height: 160px;
  clear: both;
  float: none;
  background-color: fade(@bg, 75%);
  .border-radius(@rad);

}

.float_obj.small{
  height: 80px;
  width: 128px;
}
.float_obj.medium{
  height: 160px;
  width: 256px;
}
.float_obj.large{
  height: 320px;
  width: 512px;
}


.float_obj.warning {

  background-color: firebrick;
  h3, p {
	letter-spacing: 1px;
	color: #FFFFFF;
  }
  h3 {
	font-weight: bold;
	text-shadow: 0 -1px 0 #050505;
	text-align: center;
  }
  p {

  }
  cursor: pointer
}