/* **************************************************************** */
/* ALLGEMEIN */
/* **************************************************************** */
body {
	background: #FFFFFF;
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	color:#1A1A1A;
	size:21.0cm 29.7cm; 
}
* {
	padding:0;
	margin:0;
}
a {
	text-decoration:none;
	color: #000000;
}

ul, li {
	text-decoration:none;
	list-style-type: none;
}

img {
	border-radius:0px;
}

/* **************************************************************** */



/* **************************************************************** */
/* KOPFZEILE */
/* **************************************************************** */
header, button, .panel {
display: none;
}





/* **************************************************************** */



/* **************************************************************** */
/* HAUPTBEREICH */
/* **************************************************************** */

.note {

}

.wall {
	/*width: 1024px;*/
	/*
	-moz-column-width:288px;
	-webkit-column-width:280px;
	column-width:280px;
	*/
	padding-top:2cm;
	width:18cm;
}
.paper {
	top: 3em;
}

#indexTitle {
	top:0;
	padding: 4px;
	margin: 11px 5% 0 5%;
	display: block;
}
#indexTitle .left{
	float:left;
	text-align:left;
}
#indexTitle .center{
display:none;
}
#indexTitle .right{
	border-bottom:1px groove #564F4F;
	float:right;
	text-align:right;
}

#indexTitle img{
	display: none;
}

.note {
	background: rgba(215, 215, 215, 0.3);
	page-break-before:auto;
	border-bottom: 1px solid grey;
	margin: 11px 0 11px 0;
	page-break-inside:avoid;
}


img.staticMedia{
/*	width:250px;*/
	max-width:7cm;
	max-height:5cm;
	padding: 0 3px 3px 0;
	border-radius:5px;
	float:right;
	page-break-after:avoid;
}

.note p.linkText {
clear: right;
margin-bottom:8px;
}

#paper tr {
	page-break-inside:avoid;
}
	#paper td.noteContent {
		vertical-align:top;
		padding: 6px;
	}
	#paper td.noteContent p{
		padding: 11px;
	}
	
	#paper td.noteContent p img{
		width: 222px;
		float:right;
		padding: 0 0 11px 11px;
	}
	#paper td.noteContent p video{
		width: 222px;
		float:right;
		padding: 0 0 11px 11px;
	}
	
	#paper td.linkList {
		vertical-align:top;
		padding: 50px 0 0 10px;
	}
td.listNote {
	border-bottom: 1px solid black;
	height:33px;
}
ul.excerptList{
	margin-left: 12px;
	list-style-type:none;
	font-size:x-small;
}


a.text{
}

p.citeText {
	font-size: x-small;
}
p.linkText, p.linkText a {
	font-size: x-small;
	color: #2B2B2B;
}
a.edit{
	display:none;
}
a.public{
	display:none;
}
a.nonpublic{
	display:none;
}


.note_zoom {
	display: none;
}

.download {
	display: none;
}
#saveNote {
	background: rgba(215, 215, 215, 0.3);
	box-shadow:0px 0px 4px 0px rgba(215, 215, 215, 1.5);
	border-radius:5px;
	border:1px groove #564F4F;
	min-width: 320px;	
	width: 320px;
	min-height: 366px;	
	z-index: -20;
	padding: 22px;
	margin-right:22px;
	float:left;
}



#result .media_zoom {
	width:320px;
	cursor: pointer;
}

/* Formulare */
form {
margin-left: 400px;
}

input.li {
	margin-left:22px;
}

input.button {
	width: 111px;
	height: 44px;
	margin: 22px;
	cursor: pointer;
}


.warning {
	color:#ff0000;
}


/* the overlayed element */
.img_overlay {
    /* initially overlay is hidden */
	display:none;
	background: #1A1A1A url(images/overlay/dot.png) repeat;
	box-shadow:0px 0px 4px 0px rgba(215, 215, 215, 1.5);
	border:1px groove #564F4F;
    /*
      width after the growing animation finishes
      height is automatically calculated
      */
    width:900px;
	font-size:0.9em;
    /*background-image:url(images/overlay/apple.png) repeat;*/
    color:#BFBFBF;
    padding:15px 25px;
}

.img_big{
	height:360px;
	margin-top:15px;
	padding: 0 3px 3px 0;
	background: rgba(0, 0, 0, 0.0);	
	border-radius:5px;
	display: block;
	margin-left: auto;
	margin-right: auto
}
/* default close button positioned on upper right corner */
.img_overlay .close {
    background-image:url(images/overlay/close.png);
    position:absolute; left:-15px; top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}
/* end of the overlayed element */

/* Gallery-Folder */
ul#gallery {
    list-style-type:none;
    color:#BFBFBF;
    
}
ul#gallery li{
	padding: 2px;
	background: rgba(215, 215, 215, 0.3);
	box-shadow:0px 0px 4px 0px rgba(215, 215, 215, 1.5);
	border-radius:5px;
	border:1px groove #564F4F;
	width:160px;
	height:140px;
	float:left;
	margin:4px;
}
ul#gallery li:hover{
    background: rgba(215, 215, 215, 0.1);
}
ul#gallery li span{
    display:block;
    font-size:10px;
    text-align:center;
}
ul#gallery li a, ul#gallery li img, ul#gallery li video, ul#gallery li audio{
	border:none;
	height:90px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* tagCloud */
#note.tagCloud{
	text-align:center;
}

a.tiny{
	font-size:0.5em;
}
a.small{
	font-size:0.9em;
}
a.medium{
	font-size:1.3em;
}
a.large{
	font-size:1.7em;
}
a.extralarge{
	font-size:2.1em;
}


/* **************************************************************** */



/* **************************************************************** */
/* FUSSNOTE */
/* **************************************************************** */
footer {
	text-align: center;
	font-size: x-small;
	height: 2em;
	width: 100%;
	bottom: -0.5em;
	position: fixed;
	display: block;
}


/* **************************************************************** */


