/* BIG SCREENS */
@media screen and (min-width: 1920px)  {
	.desk {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
		width: 1664px;
	}
	.note {
		width: 400px;
	}

}
/* LARGE SCREENS */
@media screen and (min-width: 1280px) and (max-width: 1919px) {
	.desk {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		width: 1188px;
	}
	.note {
		width: 380px;
	}

}
/* MEDIUM SCREENS */
@media screen and (min-width: 641px) and (max-width: 1279px) {
	.desk {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		width: 632px;
	}

	.note {
		width: 300px;
	}

}
/* SMALL SCREENS */
@media screen and (max-width: 640px) {
	.desk {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		width: 296px;
	}
	.note {
		width: 280px;
	}
	.note p {
		font-size: 0.8em;
	}
}
