/* BIG SCREENS */
@media screen and (min-width: 1920px)  {
	.desk {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
		max-width: 1800px;
	}

}
/* LARGE SCREENS */
@media screen and (min-width: 1280px) and (max-width: 1919px) {
	.desk {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
		max-width: 1200px;
	}

}
/* MEDIUM SCREENS */
@media screen and (min-width: 641px) and (max-width: 1279px) {
	.desk {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		max-width: 600px;
	}

}
/* SMALL SCREENS */
@media screen and (max-width: 640px) {
	.desk {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		max-width: 300px;
	}
	.note {

	}
}
